.block-1 {
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    color: var(--text-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5em;
    letter-spacing: 0.01em;

}

.text-container {
    padding-top: 11em;
    max-width: 50%;
}

.title {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 10rem;
    line-height: 1.1em;
    letter-spacing: 0.002em;
}

.text {
    padding-top: 1.3em;
    padding-bottom: 1.8em;
}

.block1-button {
    float: left;
}

picture-container

.table-pic {
    max-width: 50%;
    padding-top: 150em;
}
