
.background {
    width: 8.3rem;
    height: 8.3rem;
    border-radius: 50%;
    background-color: var(--background);
    position: relative;
}

.contacts-link:hover {
    background-color: var(--secondary-text-color);
    transform: background-color 0.2s easy-in; 
}

.contacts-link:active {
    background-color: var(--primary-contrast);
    transform: background-color 0.2s easy-in; 
}

@media screen and (max-width: 960px) {
    .background {
        width: 7.3rem;
        height: 7.3rem; 
        margin-bottom: 2rem;
    }
  }

@media screen and (max-width: 600px) {
    .background {
        width: 5.3rem;
        height: 5.3rem; 
        margin-bottom: 1rem;
    }
  }

.background img {
    width: 5.2rem;
    height: 5.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
    .background img {
        width: 4.3rem;
        height: 4.3rem; 
    }
  }

.contacts {
    background-color: var(--secondary-background);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 10rem 4rem 6rem 4rem;
    color: var(--secondary-text-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    list-style-type: none;
}

@media screen and (max-width: 960px) {
    .contacts {
        padding: 4rem;
    }
  }

@media screen and (max-width: 800px) {
    .contacts {
        flex-direction: column;
        align-items: flex-start;
    }
  }

.contacts-positioning {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.contacts-title {
    padding-left: 20px;
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.3;
    letter-spacing: 0.02rem;
    color: var(--background);
}

@media screen and (max-width: 1200px) {
    .contacts-title {
        font-size: 2.8rem;
    }
  }

@media screen and (max-width: 1100px) {
    .contacts-title {
        font-size: 2.7rem;
    }
  }
  
.contacts-text {
    padding-left: 2rem;
    color: var(--secondary-text-color);
}