
/*Header*/
header {
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1,5em;
  letter-spacing: 0.009em;
}

header a {
  color: var(--text-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.7em;
}

/* Mobile navigation button */
.mobile-nav {
  display: none;
  height: 2.5rem;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  position: relative;
  display: block;
  width: 4.2rem;
  height: 0.5rem;
  border: none;
  background-color: var(--primary);
}

.mobile-nav-icon::before {
  content: "";
  display: block;
  width: 4.2rem;
  height: 0.5rem;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  top: 1rem;

}

.mobile-nav-icon::after {
  content: "";
  display: block;
  width: 4.2rem;
  height: 0.5rem;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  top: -1rem;
  
}

.mobile-nav:hover {
  background: var(--primary-dark);
  transition: background 0.2s ease-in-out;
}

.mobile-nav:active {
  background: var(--primary-light);
  transition: background 0.2s ease-in-out;
}

.tel-button {
  color: var(--text-color);
}

.header-logo {
  display: block;
  max-width: 17.2em;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 1.2em 1.9em 1.2em 2.3em;
  border-top: 0.09em solid var(--primary-contrast);
  border-bottom: 0.1em dashed var(--primary-contrast);
  
}

.header-nav li {
  display: inline-block;
  padding-right: 2.7em;
}

.header-nav :last-child {
  padding-right: 0;
}

.home-item {
  color: var(--primary);
}

.social-media-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-wrapper li {
  display: inline-block;
  padding-right: 1em;
}

.social-media-wrapper :last-child {
  padding-right: 0;
}

.center-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

a img:hover {
  transform: scale(130%);
  transition: transform 0.3s ease-in-out;
}

/* Mobile navigation menu */
.mobile-nav-menu {
  display: none;
  position: fixed;
  width: 20rem;
  height: 100%;
  background-color: var(--background);
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 20rem 0rem 0rem 20rem rgb(142 142 142 / 20%);
}

.mobile-header-nav {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  border-bottom: 0.1rem dashed var(--primary-contrast);
}

.mobile-social-media-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding-top: 1rem;
}

.close-button {
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  padding: 0;
  background-color: transparent;
  color: var(--primary);
  cursor: pointer;
  position: absolute;
  left: 85%;
  font-size: 3.2rem;
  font-weight: 700;
}

.close-button:hover {
  color: var(--primary-dark);
  transition: background 0.2s ease-in-out;
}

.close-button:active {
  color: var(--primary-light);
  transition: background 0.2s ease-in-out;
}