:root {
    --background: #292E36;
    --primary: #E1B168;
    --primary-dark: #e19d68;
    --primary-light: #e1c568;
    --primary-contrast: #292E36;
    --text-color: #fff;
  }



header {
    background-color: var(--background);
    height:
}