@media screen and (max-width: 1100px) {
    header {
        font-size: 1.8rem;
    }

    .solid-button {
        font-size: 1.8rem; 
    }

    .bordered-button {
        font-size: 1.8rem; 
    }

    .header-menu {
        font-size: 1.8rem;
    }

}

@media screen and (max-width: 960px) {
    header {
        font-size: 1.5rem;
    }

    .solid-button {
        font-size: 1.5rem; 
    }

    .bordered-button {
        font-size: 1.5rem; 
    }

    .header-menu {
        font-size: 1.5rem;
    }

    .center-icons img {
        max-width: 75%;
    }

}

@media screen and (max-width: 786px) {
    header {
        font-size: 1.1rem;
    }

    .solid-button {
        font-size: 1.1rem; 
    }

    .bordered-button {
        font-size: 1.1rem; 
    }

    .header-menu {
        font-size: 1.1rem;
    }

}

@media screen and (max-width: 600px) {
    
    .mobile-nav {
        display: block;
    }

    .header-container .tel-button {
        display: none;
    }

    .header-container {
        padding: 1.2em;
        border-bottom: 0.1rem solid var(--primary-contrast);
    }

    .header-logo {
        max-width: 14em;
    }

    .solid-button {
        padding: 0.9em 1.7em;
    }

    .header-menu {
        display: none;
    }

    .mobile-nav-menu-active {
        display: flex;
    }

    
}

@media screen and (max-width: 400px) {
    
    
    .header-container {
        padding: 0.3em;
        
    }


  
    
}


/*// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }*/