:root {
    --background: #292E36;
    --primary: #E1B168;
    --primary-dark: #e19d68;
    --primary-light: #e1c568;
    --primary-contrast: #5C6168;
    --text-color: #fff;
    --main-font: "Josefin Sans", sans-serif;
    --secondary-font: "Cormorant Infant", serif;

  }
html, body {
  font-size: 10px;
}

.container {
  padding: 0 2.7em;
}

.solid-button {
  background: var(--primary);
  padding: 0.9em 3.9em;
  border: 0.1em solid var(--primary);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background);
  cursor: pointer;
}

.solid-button:hover {
  background: var(--primary-dark);
  transition: background 0.2s ease-in-out;
}

.solid-button:active {
  background: var(--primary-light);
  transition: background 0.2s ease-in-out;
}

.bordered-button {
  border: 0.1em solid var(--primary);
  padding: 0.9em 2.6em;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary);
  cursor: pointer;
}

.bordered-button:hover {
  background: var(--primary-dark);
  transition: background 0.2s ease-in-out;
}

.bordered-button:active {
  background: var(--primary-light);
  transition: background 0.2s ease-in-out;
}

/* Animation for navigation menu */
li a:hover {
  color: var(--primary-dark);
  transition: background 0.2s ease-in-out;
}

li a:active {
  color: var(--primary-light);
  transition: background 0.2s ease-in-out;
}