.story-section-container {
    display: flex;
    gap: 4.6rem;
    background-color: var(--secondary-background);
    padding: 8.4rem 5.3rem 12.5rem 4rem;
    color: var(--secondary-text-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0.02rem;
}

@media screen and (max-width: 1200px) {
    .story-section-container {
        font-size: 1.8rem;
    }
  }

@media screen and (max-width: 960px) {
    .story-section-container {
        padding: 5.4rem 5.4rem 7.6rem 5.4rem;
    }
  }

@media screen and (max-width: 800px) {
    .story-section-container {
        padding: 4.4rem 4.4rem 6.6rem 4.4rem;
        flex-direction: column;
        align-items: center;
    }
  }

.story-section-title {
    font-family: var(--secondary-font);
    font-size: 4rem;
    line-height: 1.4;
    letter-spacing: 0.02rem;
    color: var(--background);
    padding-bottom: 1.5rem;
}


@media screen and (max-width: 900px) {
    .story-section-title {
        line-height: 1.2;
        
    }
  }

.plan-wrapper {
    display: flex;
    gap: 2rem;
    padding-top: 2.6rem;
    padding-bottom: 2rem;
}

.signature {
    padding-top: 2rem;
    max-width: 20rem;
    max-height: 13rem;
}

@media screen and (max-width: 1200px) {
    .signature {
        max-width: 20%;
    }
  }

.restaurant-hall {
    width: 100%;
    height: 51rem;
    object-fit: cover;
    object-position: bottom;
}

@media screen and (max-width: 1180px) {
    .restaurant-hall {
        height: 40rem;
    }
  }

@media screen and (max-width: 900px) {
    .restaurant-hall {
        height: 35rem;
    }
  }

@media screen and (max-width: 800px) {
    .restaurant-hall {
      max-width: 100%;
      height: 51rem;
    }
  }

