.welcome-section {
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    color: var(--text-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5em;
    letter-spacing: 0.01em;
}

@media screen and (max-width: 1100px) {
    .welcome-section {
        font-size: 1.8rem;
    }
  }
  
@media screen and (max-width: 960px) {
    .welcome-section {
        font-size: 1.5rem;
    }
  }
  
@media screen and (max-width: 786px) {
    .welcome-section {
        font-size: 1.1rem;
    }
  }

@media screen and (max-width: 450px) {
    .welcome-section {
        flex-direction: column-reverse;
        align-items: center;
    }
  }

.text-container {
    padding-top: 11em;
    padding-bottom: 8.6em;
}

@media screen and (max-width: 1398px) {
    .text-container {
        padding-top: 10em;
        padding-bottom: 7.6em;
    }
  }

@media screen and (max-width: 1230px) {
    .text-container {
        padding-top: 9em;
        padding-bottom: 6.6em;
    }
  }

@media screen and (max-width: 990px) {
    .text-container {
        padding-top: 8em;
        padding-bottom: 5.6em;
    }
  }
  
@media screen and (max-width: 600px) {
    .title {
        font-size: 4rem;
    }
  }
  
@media screen and (max-width: 580px) {
    .text-container {
        padding-top: 5em;
        padding-bottom: 2.6em;
    }
  }

@media screen and (max-width: 450px) {
    .text-container {
        padding-top: 2em;
        padding-bottom: 2em;
    }
  }

.title {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 10rem;
    line-height: 1.1em;
    letter-spacing: 0.002em;
}

@media screen and (max-width: 1300px) {
    .title {
        font-size: 9rem;
    }
  }

@media screen and (max-width: 1200px) {
    .title {
        font-size: 8rem;
    }
  }

@media screen and (max-width: 1100px) {
    .title {
        font-size: 7rem;
    }
  }
  
@media screen and (max-width: 960px) {
    .title {
        font-size: 6rem;
    }
  }
  
@media screen and (max-width: 786px) {
    .title {
        font-size: 5rem;
    }
  }

@media screen and (max-width: 600px) {
    .title {
        font-size: 4rem;
    }
  }
  
@media screen and (max-width: 510px) {
    .title {
        font-size: 3rem;
    }
  }

.text {
    padding-top: 1.3em;
    padding-bottom: 1.8em;
}

.block1-button {
    float: left;
    
}

.welcome-section img {
    display: block;
    max-width: 50%;
    padding-top: 0.2em;
}

@media screen and (max-width: 450px) {
    .welcome-section img {
        max-width: 90%;  
    }
  }
