.welcome-section {
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    color: var(--text-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0.02rem;
}

@media screen and (max-width: 1100px) {
    .welcome-section {
      font-size: 1.8rem;
    }
  }

@media screen and (max-width: 450px) {
    .welcome-section {
        flex-direction: column-reverse;
        align-items: center;
    }
  }

.text-container {
    padding: 22rem 0 17.6rem 4rem;
}


@media screen and (max-width: 1300px) {
    .text-container {
      padding: 19rem 0 15rem 4rem;
    }
  }

@media screen and (max-width: 1200px) {
    .text-container {
      padding: 14rem 0 11rem 4rem;
    }
  }
  
@media screen and (max-width: 1100px) { 
    .text-container {
      padding: 11rem 0 8rem 4rem;
  }
}
  
@media screen and (max-width: 1000px) {
    .text-container {
      padding: 8rem 0 5rem 4rem;
    }
  }

@media screen and (max-width: 500px) {
    .text-container {
      padding: 4rem 0 2rem 2rem;
    }
  } 

.title {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 10rem;
    line-height: 1.1;
    letter-spacing: 0.02rem;
}

@media screen and (max-width: 1300px) {
    .title {
        font-size: 9rem;
    }
  }

@media screen and (max-width: 1200px) {
    .title {
        font-size: 8rem;
    }
  }

@media screen and (max-width: 1100px) {
    .title {
        font-size: 7rem;
    }
  }
  
@media screen and (max-width: 960px) {
    .title {
        font-size: 6rem;
    }
  }
  
@media screen and (max-width: 800px) {
    .title {
        font-size: 5rem;
    }
  }

@media screen and (max-width: 600px) {
    .title {
        font-size: 4rem;
    }
  }
  
@media screen and (max-width: 510px) {
    .title {
        font-size: 3rem;
    }
  }

.text {
    padding-top: 2.6rem;
    padding-bottom: 3.6rem;
}

.block1-button {
    float: left;
    
}

.welcome-section img {
    display: block;
    max-width: 50%;
    padding-top: 0.4rem;
}

@media screen and (max-width: 450px) {
    .welcome-section img {
        max-width: 90%;  
    }
  }
